Package: com.byteage.xcoderootdebug
Name: XcodeRootDebug
Version: 0.0.1
Architecture: iphoneos-arm
Description: 允许xcode使用root权限启动自定义的debugserver进行调试
Maintainer: h4ck1n
Author: h4ck1n
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
