Package: com.byteage.xcoderootdebug
Name: XcodeRootDebug
Version: 0.0.1
Architecture: iphoneos-arm
Description: Allows Xcode to start a custom debugserver with root privileges for debugging.
Maintainer: h4ck1n
Author: h4ck1n
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
